################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Homework 4.slnx/FileContentIndex/9befd615-80f7-44d8-963d-a70b21a777b3.vsidx
